{
  "source_dir":"/home/ivodopyanov/MTG/drafts_dataset",
  "output_dir":"/home/ivodopyanov/MTG/training_result",
  "pack_size": 15,
  "train_test_split": 0.8,
  "batch_size": 16,
  "dropout": 0.8,
  "lr": 1e-3
}